body{
    background-color: black;
    width: 100%;
    height: 100%;
    /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 25vh;
    background: black;
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: red; */
    transform: translate(-50%,-50%);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(234,0,255,0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40PX);
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    content: '';
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MIN';
}
#sec::after{
    content: 'SEC';
}
video{
    border-radius: 30%;
    top: 500%;
    
}
h1{
    font-family: "protest Guerrilla",sans-serif;
    color: white;
}
h3{
    color: white;
}
#name{
    color: rgb(43, 178, 212);
    font-size: 45px;
}
#va{
    color: rgb(212,43,122);
}
#voice{
    width: 250px;
    display: none;
}
#btn{
    width: 30%;
    /* height: 10%; */
    background: linear-gradient(to right,rgb(212,43,122),rgb(43, 178, 212));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(212,43,122),2px 2px 10px rgb(43, 178, 212);
    border-radius: 20px;
    /* border: none; */
    transition: all 0.5s;
    cursor: pointer;
}

#btn:hover{
    box-shadow: 2px 2px 20px rgb(43, 178, 212),2px 2px 20px rgb(212,43,122);
    letter-spacing: 2px;

}
img{
    border-radius: 150%;
}  
@media only screen and (max-width:750px){
    .hero{
    width: 100%;
    min-height: 9vh;
    background: black;
    color: #fff;
    position: relative;
}
    .container{
    width: 250px;
    height: 90px;
    position: absolute;
    top: 35%;
    left: 50%;
    /* background: red; */
    transform: translate(-50%,-50%);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(234,0,255,0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40PX);
}
.container::before{
    content: '';
    width:0px;
    height: 0px;
  
}
.container::after{
    content: '';
    width: 0px;
    height: 0px;
}
.clock span{
    font-size: 45px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    content: '';
    font-size: 12px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
h1{
    font-family: "protest Guerrilla",sans-serif;
    color: white;
    font-size: 20px;
}
#name{
    color: rgb(43, 178, 212);
    font-size: 30px;
}
#va{
    color: rgb(212,43,122);
    font-size: 22px;
}
#voice{
    width: 250px;
    display: none;
}
#btn{
    width: 30%;
    height: 5%; 
    background: linear-gradient(to right,rgb(212,43,122),rgb(43, 178, 212));
    padding: 10px;
    display: flex;
    align-items: none;
    justify-content: none;
    gap: 10px;
    font-size: 15px;
    font-weight: 20px;
    color: black;
    box-shadow: 2px 2px 10px rgb(212,43,122),2px 2px 10px rgb(43, 178, 212);
    border-radius: 20px;
    /* border: none; */
    transition: all 0.5s;
    cursor: pointer;
}
#bola{
    width: 200px;
    height: 30px;
}
}

 .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #1a1a1a;
    padding: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lightgoldenrodyellow;
}

.close-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #444;
}

.typing-effect {
    white-space: pre-wrap;
    font-size: 16px;
    color: red;
}

@media (max-width: 768px) {
    .popup {
        width: 90%;
    }
}













